@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * preview styles
 */

 .preview {
  @apply mb-2 p-1 text-base;
}

.preview hr {
  @apply my-4;
}

.preview h1,
.preview h2,
.preview h3,
.preview h4,
.preview h5,
.preview h6 {
  @apply mb-2 font-bold;
}

.preview .highlight {
  @apply rounded shadow-md	;
}

.preview a {
  @apply inline-block align-baseline text-sm font-bold text-blue-500;
}

.preview a:hover {
  @apply text-blue-800;
}

.preview label {
  @apply mb-2 block text-sm font-bold text-gray-700;
}

.preview input,
.preview textarea,
.preview select {
  @apply border rounded mb-2 block w-full appearance-none bg-white px-3 py-2 leading-tight text-gray-700;
}

.preview input:focus,
.preview textarea:focus,
.preview select:focus,
.preview button:focus {
  @apply outline-none border border-gray-700;
}

.preview label {
  @apply flex items-center;
}

.preview label > input[type='checkbox'] {
  display: inline-block;
  margin: 0 0.5rem 0 0;
  width: auto;
}

.preview small {
  @apply text-xs text-gray-600;
}

.preview button {
  @apply border rounded border-gray-300 bg-gray-300 px-4 py-2 text-sm text-gray-800;
}

.preview button:hover {
  @apply bg-gray-400;
}

.preview form > div:not(:last-child) {
  @apply mb-4;
}

.expanded .snapshot {
  @apply w-full;
}

.collapsed .snapshot div {
  display: none;
}
